.center_form{
    justify-content: center;
    align-content: center;
}

/* annotation column */

.annotation_column{
    padding-left: 20px !important;
}

.user_id_check {
    width: 12% !important;
    margin-bottom: 20px;
    margin-top: 20px !important;
}

.user_id_text {
    margin-bottom: 10px;

}

.object_counter {
    margin-bottom: 10px;
}


.instruction_above {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.general_instructions {
	background-color: #f2f2f2;
	padding: 12px;
    padding-left: 20px !important;
	font-size: 14px;
	margin-bottom: 10px;
	border-radius: 4px;
}

.instructions_column {
    padding-left: 20px !important;
}

.instructions_sticky{
	height:fit-content;
	background-color: #fff8e3;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 20px;
}

#instructions_text{
    font-size: 14px;
}

.instruction_buttons {
	width: fit-content !important;
    margin-bottom: 10px;
}

.instruction_button_text {
	padding-left: 0px !important;
}

.instruction_btn {
    width: 34px !important;
    height: 34px !important;
    position: relative !important;
    margin-left: 0px !important;
}

.controls {
    width: 94% !important;
    margin-bottom: 20px;
}

.page-link {
	color: #000 !important;
}


.active > .page-link {
	background-color: #449d5f !important;
	border-color: #449d5f !important;
	color: white !important;
}

.disabled > .page-link {
        background-color: #d3d3d3 !important;
}

.page-link:focus {
	box-shadow: none !important;
    background-color: #f8f9fa !important;
}


.submit_btn_place {
    display: grid;
    justify-items: end;
    padding-right: 0px !important;
}

.submit_btn {
    height: 38px;
    border-color: #449d5f !important;
    background-color: #449d5f !important;
    color: white !important;
}

.submit_btn:hover {
    box-shadow: 0 0 0 .25rem rgba(68, 157, 95, 0.3) !important;
}

.image-container {
    margin-bottom: 20px;
    width: 100% !important;
    background-color: lightgray;
    justify-content: center;
    display: flex;
    border: 1px;
    border-radius: 4px;
  }

.img-fluid{
    max-height: 480px;
}

#prototypeForm{
    width: 60%;
}

h1#form_heading {
    margin-bottom: 20px !important;
}

.control_buttons{
    max-width: fit-content !important;
}

.field_group {
    margin-bottom: 20px;
    flex-wrap: nowrap !important;
  }

.field_names {
    text-align: end;
    padding-right: 10px !important;
    padding-left: 0px !important;
}

.textarea_col{
    min-width:80% !important;
    padding-right: 0px !important;
}

.form-control:focus {
	border-color: #d3d3d3 !important;
	box-shadow: 0 0 0 .25rem rgb(211, 211, 211) !important;
}

.field_btns {
    padding-left: 0px !important;
    display: flex;
}

.hide_field_btn {
    width: 38px;
    height: 38px;
    margin-right: 6px;
}

.remove_field_btn {
    width: 38px;
    height: 38px;
    margin-right: 6px;
    border-color: #ef6868 !important;
    color: #ef6868 !important;
}

.remove_field_btn:hover {
    color: white !important;
    background-color: #ef6868 !important;
    border-color: #ef6868 !important;
}

.remove_field_btn:active {
    color: white !important;
    background-color: #ef6868 !important;
    border-color: #ef6868 !important;
}

.remove_field_btn:focus-visible {
    background-color: #ef6868 !important;
    color: white !important;
}

.remove_field_btn:disabled {
    border-color: #ef6868 !important;
    color: #ef6868 !important;
    opacity: unset !important;
}

.hide_field_btn:disabled {
    color: #6c757d !important;
    border-color: #6c757d !important;
    opacity: unset !important;
}

.subject-term {
    display: inline-block;
    padding: 5px 10px;
    margin: 12px 12px 12px 6px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 3px;
    min-width: 66px;
    text-align: end;

}

.subject-term-button {
    width: 20px;
    height: 20px;
    margin-top: -20px !important;
    padding:0px !important;
    background-color: white !important;
}

.note-button {
    position: absolute;
    margin-left: -46px;
    border-color: blue !important;
    color: blue !important;
}

.note-button:hover {
    background-color: blue !important;
    border-color: blue !important;
    color: white !important;
}

.note-button:disabled {
    border-color: blue !important;
    color: blue !important;
    opacity: unset !important;
}

.hide-button {
    background-color: #818080;
    position: absolute;
    margin-left: -24px;
}

.hide-button:hover {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    color: white !important;
}

.remove-button {
    position: absolute;
    margin-left: -2px;
    border-color: #ef6868 !important;
    color: #ef6868 !important;
}

.remove-button:hover {
    color: white !important;
    background-color: #ef6868 !important;
    border-color: #ef6868 !important;
}

.st-icon.bi::before {
    vertical-align: 0em !important;
}

.add_keyword_btn {
    width: 36px !important;
    height: 36px !important;
    margin-left: 8px;
    margin-bottom: 4px;
}

.add_note_btn {
    padding: 4px !important;
    font-size: 12px !important;
    border-color: blue !important;
    color: blue !important;
    background-color: white !important;
}

.add_note_btn:hover {
    border-color: blue !important;
    color: white !important;
    background-color: blue !important;
}

.add_warning_btn {
    padding: 4px !important;
    font-size: 12px !important;
    border-color: darkred !important;
    color: darkred !important;
    background-color: white !important;
}

.add_warning_btn:hover {
    border-color: darkred !important;
    color: white !important;
    background-color: darkred !important;
}

.col.add_note {
	max-width: fit-content;
    padding-right: 0px !important;
}

.col.add_warning {
	max-width: fit-content;
}

.row.under_field_buttons {
	margin-top: 10px;
	margin-bottom: 10px;
}