.center_form{
    justify-content: center;
    align-content: center;
}

/* annotation column */

.annotation_column{
    padding-left: 20px !important;
}

.user_id_check {
    width: 12% !important;
    margin-bottom: 20px;
    margin-top: 20px !important;
}

.user_id_text {
    margin-bottom: 10px;

}

.object_counter {
    margin-bottom: 10px;
}


.instruction_above {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.general_instructions {
	background-color: #f2f2f2;
	padding: 12px;
    padding-left: 20px !important;
    margin: 10px 0px 10px 0px !important;
	font-size: 14px;
	border-radius: 4px;
}

.instructions_column {
    padding-left: 20px !important;
}

.instructions_sticky{
	height:fit-content;
	background-color: #fff8e3;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 20px;
}

#instructions_text{
    font-size: 14px;
}

.instruction_buttons {
	width: fit-content !important;
    margin-bottom: 10px;
}

.instruction_button_text {
	padding-left: 0px !important;
}

.instruction_btn {
    width: 34px !important;
    height: 34px !important;
    position: relative !important;
    margin-left: 0px !important;
}

.controls {
    width: 100% !important;
    margin-bottom: 20px;
    justify-content: center;
}

.restore_btn {
	height: 38px;
	border-color: #f1f1f1 !important;
	background-color: #f2f2f2 !important;
	color: #8a8a8a !important;
    font-size: 14px !important;
}

.restore_btn:hover {
    color: black !important;
	box-shadow: 0 0 0 .25rem rgba(232, 232, 232, 0.26) !important;
}

.pagination_btns {
	justify-content: center;
	display: grid;
}

.page-link {
	color: #000 !important;
    font-size: 14px !important;
}


.active > .page-link {
	background-color: #449d5f !important;
	border-color: #449d5f !important;
	color: white !important;
}

.disabled > .page-link {
        background-color: #d3d3d3 !important;
}

.page-link:focus {
	box-shadow: none !important;
}


.submit_btn_place {
    display: grid;
    justify-items: end;
    padding-right: 0px !important;
}

.submit_btn {
    height: 38px;
    border-color: #449d5f !important;
    background-color: #449d5f !important;
    color: white !important;
    font-size: 14px !important;
}

.submit_btn:hover {
    box-shadow: 0 0 0 .25rem rgba(68, 157, 95, 0.3) !important;
}

.image-container {
    margin-bottom: 20px;
    width: 100% !important;
    background-color: lightgray;
    justify-content: center;
    display: flex;
    border: 1px;
    border-radius: 4px;
  }

.img-fluid{
    max-height: 480px;
}

#prototypeForm{
    width: 60%;
}

h1#form_heading {
    margin-bottom: 20px !important;
}

.control_buttons{
    max-width: fit-content !important;
}

.field_group {
    margin-bottom: 20px;
    transition: opacity 2s ease-out;
    flex-wrap: nowrap !important;
    opacity: 1;
    overflow: hidden;
  }

.hidden {
    opacity: 0;
}

.field_names {
    text-align: end;
    padding-right: 10px !important;
    padding-left: 0px !important;
}

.textarea_col{
    min-width:80% !important;
    padding-right: 0px !important;
}

.form-control {
	min-height: 70px !important;
    text-wrap: balance;
}

.form-control:focus {
	border-color: #6c757d !important;
	box-shadow: none !important;
    border-style: solid !important;
    border: 1px;
}

/* Field buttons */

.field_btns {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
}

.add_field {
	margin: 0px 0px 20px 0px;
}

.add_field_btn {
	width: 100%;
	background-color: #f2f2f2 !important;
	border-color: #f2f2f2 !important;
    border-radius: 4px !important;
    color: #8a8a8a !important;
}


.add_field_btn:hover {
	background-color: #dfdfdf !important;
	border-color: #dfdfdf !important;
	color: #000 !important;
}

.hide_field_btn {
    width: 32px !important;
    height: 32px;
    margin: 0px 6px 6px 6px;
    padding: 0px !important;
}

.hide_field_btn:disabled {
    color: #6c757d !important;
    border-color: #6c757d !important;
    opacity: unset !important;
}

.remove_field_btn {
    width: 32px !important;
    height: 32px;
    margin: 0px 6px 6px 0px;
    padding: 0px !important;
    border-color: #ef6868 !important;
    color: #ef6868 !important;
}

.remove_field_btn:hover {
    color: white !important;
    background-color: #ef6868 !important;
    border-color: #ef6868 !important;
}

.remove_field_btn:active {
    color: white !important;
    background-color: #ef6868 !important;
    border-color: #ef6868 !important;
}

.remove_field_btn:focus-visible {
    background-color: #ef6868 !important;
    color: white !important;
}

.remove_field_btn:disabled {
    border-color: #ef6868 !important;
    color: #ef6868 !important;
    opacity: unset !important;
}

.add_note_btn {
    padding: 0px !important;
    margin: 0px 6px 0px 6px;
    font-size: 12px !important;
    border-color: blue !important;
    color: blue !important;
    background-color: white !important;
    width: 32px !important;
    height: 32px;
}

.add_note_btn:hover {
    border-color: blue !important;
    color: white !important;
    background-color: blue !important;
}

.add_warning_btn {
    padding: 0px !important;
    margin: 0px 6px 0px 0px;
    font-size: 12px !important;
    border-color: darkred !important;
    color: darkred !important;
    background-color: white !important;
    width: 32px !important;
    height: 32px;
}

.add_warning_btn:hover {
    border-color: darkred !important;
    color: white !important;
    background-color: darkred !important;
}

/* Added elements */

    /* Note */

.note_area {
    margin-top: 10px !important;
}

.note_col {
	padding: 0px !important;
}

.note_icon_col {
	padding: 0px 4px 0px 0px !important;
}

.note_icon {
    font-size: 1.2rem;
    color: #808080;
}

.note-form {
    width: 100% !important;
    min-height: 60px !important;
    background-color: lightyellow !important;
    font-size: 14px !important;
    color: #717171 !important;
    padding: 4px 0px 4px 10px !important;
}

.remove_note_col {
	padding: 0px 0px 0px 4px !important;
}

.remove_note_btn {
	width: 22px !important;
	height: 22px;
	padding: 0px !important;
	font-size: 0.8rem;
	color: #ef6868 !important;
	border-color: #ef6868 !important;
}

.remove_note_btn:hover {
    color: white !important;
    background-color: #ef6868 !important;
    border-color: #ef6868 !important;
}

    /* Warning */

.warning_area {
    margin-top: 10px !important;
}

.warning_col {
    padding: 0px !important;
}

.warning_icon_col {
    padding: 0px 4px 0px 0px !important;
}

.warning_icon {
    font-size: 1.2rem;
    color: #8c2020;
}

.warning-form {
    width: 100% !important;
    min-height: 60px !important;
    background-color: #f2808099 !important;
    font-size: 14px !important;
    color: #8c2020 !important;
    padding: 4px 0px 4px 10px !important;
}

.remove_warning_col {
	padding: 0px 0px 0px 4px !important;
}

.remove_warning_btn {
	width: 22px !important;
	height: 22px;
	padding: 0px !important;
	font-size: 0.8rem;
	color: #ef6868 !important;
	border-color: #ef6868 !important;
}

.remove_warning_btn:hover {
    color: white !important;
    background-color: #ef6868 !important;
    border-color: #ef6868 !important;
}

/* Subject terms */

#field_group_dc\:subject {
	margin-top: 40px !important;
}

#subject-terms-container {
	display: inline-block;
}

.subject-term {
	display: inline-block;
	margin: 0px 16px 30px 6px;
	text-align: end;
}

.subject-term-button {
    width: 20px;
    height: 20px;
    margin-top: -14px !important;
    padding:0px !important;
    background-color: white !important;
}

.note-button {
    position: absolute;
    margin-left: -56px;
    border-color: blue !important;
    color: blue !important;
}

.note-button:hover {
    background-color: blue !important;
    border-color: blue !important;
    color: white !important;
}

.note-button:disabled {
    border-color: blue !important;
    color: blue !important;
    opacity: unset !important;
}

.hide-button {
    background-color: #818080;
    position: absolute;
    margin-left: -34px;
}

.hide-button:hover {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    color: white !important;
}

.remove-button {
    position: absolute;
    margin-left: -12px;
    border-color: #ef6868 !important;
    color: #ef6868 !important;
}

.remove-button:hover {
    color: white !important;
    background-color: #ef6868 !important;
    border-color: #ef6868 !important;
}

.st-icon.bi::before {
    vertical-align: 0em !important;
}

.add_keyword_btn {
    width: 36px !important;
    height: 36px !important;
    margin-left: 8px;
    background-color: #f2f2f2 !important;
	border-color: #f2f2f2 !important;
    color: #8a8a8a !important;
}

.add_keyword_btn:hover {
    background-color: #dfdfdf !important;
	border-color: #dfdfdf !important;
	color: #000 !important;
}

/* button + input group */
.add_keyword_tooltip {
	display: inline-flex;
}

#keyword_input {
	margin: 0px 0px 0px 6px !important;
    margin-bottom: 0rem !important;
}

.input_group {
    max-width: 110px !important;
}

.tooltip_hidden {
    display:none !important;
}

.keyword_input_field {
    max-width: 82px !important;
    min-height: 36px !important;
    padding: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border: 1px solid #ccc !important;
}

#tooltip_add_btn {
	height: 36px !important;
	width: 28px;
	padding: 0px !important;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #ccc !important;
}

#tooltip_add_btn:hover {
	background-color: #449d5f !important;
	border-color: #449d5f !important;
}

.check_add_keyword {
	padding: 0px !important;
}


.col.add_note {
	max-width: fit-content;
    padding-right: 0px !important;
}

.col.add_warning {
	max-width: fit-content;
}

.row.under_field_buttons {
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-control:disabled {
	color: #f1f1f1 !important;
	background-color: #f1f1f1 !important;
    pointer-events: none;
    filter:blur(4px);
}

.keyword_text {
	margin-bottom: 0px !important;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	border-radius: 4px;
	min-width: 66px;
	text-align: end;
	padding: 5px 10px;
}

.kw_hidden {
    color: #f1f1f1;
    filter: blur(4px);
    position: relative;
    z-index: -1;
    pointer-events: none;
}

  
  