/* Consent block */
.before_task {
    opacity: 100%;
    transition: opacity 1s ease-out;
}

.consent_screen {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.consent_col {
    background-color: #f2f2f2;
	padding: 12px;
    margin: 10px 0px 10px 0px !important;
	border-radius: 4px;
    padding-left: 120px !important;
}

.consent_text {
    font-size: 16px;
}

.task_screen {
    opacity: 0;
    transition: opacity 2s ease-in;
}

.making_visible {
    opacity: 1 !important;
}

/* Instructions block */

.instruction_above {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.general_instructions {
	background-color: #f2f2f2;
	padding: 2px 0px 2px 0px;
    margin: 10px 0px 10px 0px !important;
	font-size: 14px;
	border-radius: 4px;
}

.instructions_text {
    font-size: 14px !important;
    margin-bottom: 8px;
}

.instructions_text a {
	text-decoration: none;
	color: black;
	background-color: #ffffff82;
	padding: 0px 2px 2px 2px;
}

.instructions_text a:hover {
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 0px 2px 2px 2px;
}

.text_below_instructions {
    margin-top:12px !important;
}

.instructions_icon {
	font-size: 1.2rem;
	color: #6c757d;
}

.left_instructions {
	margin-right: 72px;
}

.instr_icon_col {
    padding: 0px !important;
}

.accordion {
    --bs-accordion-bg: #f2f2f2 !important;
    border: none !important;
    --bs-accordion-border-width: 0px !important;
}

.accordion-button {
    width: 120px !important;
    background-color: #f2f2f2 !important;
    padding: 12px 0px 12px 8px !important;
}

.accordion-button:not(.collapsed) {
    background-color: #f2f2f2 !important;
    color: black !important
}

.accordion-button:focus {
	box-shadow: none !important;
}

/* Left column: Object annotation */

.annotation_column {
    padding-left: 20px !important;
}

.image-container {
    margin-bottom: 20px;
    width: 100% !important;
    background-color: #f2f2f2;
    justify-content: center;
    display: flex;
    border: 1px;
    border-radius: 4px;
  }

.img-fluid{
    max-height: 480px;
}

.object_metadata {
	font-size: 14px !important;
}

.field_group {
    margin-bottom: 20px;
    margin-top: 20px !important;
    transition: opacity 1s ease-out;
    flex-wrap: nowrap !important;
    overflow: hidden;
  }

.removing {
    opacity: 0;
}

.field_names {
    text-align: end;
    padding-right: 10px !important;
    padding-left: 0px !important;
}

.form-control {
    font-size: 14px !important;
	min-height: 70px !important;
    text-wrap: balance;
}

.form-control:focus {
	border-color: #6c757d !important;
	box-shadow: none !important;
    border-style: solid !important;
    border: 1px;
}

/* Field buttons */

.field_btns {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
}

.add_field_col {
	padding: 0px !important;
}

.add_field {
	margin: 0px 0px 20px 0px;
}

.add_field_btn {
	width: 100%;
	background-color: #f2f2f2 !important;
	border-color: #f2f2f2 !important;
    border-radius: 4px !important;
    color: #8a8a8a !important;
}

.add_field_btn:hover {
	background-color: #dfdfdf !important;
	border-color: #dfdfdf !important;
	color: #000 !important;
}

.hide_field_btn {
    width: 32px !important;
    height: 32px;
    margin: 0px 6px 6px 6px;
    padding: 0px !important;
}

.hide_field_btn:disabled {
    color: #6c757d !important;
    border-color: #6c757d !important;
    opacity: unset !important;
}

.remove_field_btn {
    width: 32px !important;
    height: 32px;
    margin: 0px 6px 6px 0px;
    padding: 0px !important;
    border-color: #ef6868 !important;
    color: #ef6868 !important;
}

.remove_field_btn:hover {
    color: white !important;
    background-color: #ef6868 !important;
    border-color: #ef6868 !important;
}

.remove_field_btn:active {
    color: white !important;
    background-color: #ef6868 !important;
    border-color: #ef6868 !important;
}

.remove_field_btn:focus-visible {
    background-color: #ef6868 !important;
    color: white !important;
}

.remove_field_btn:disabled {
    border-color: #ef6868 !important;
    color: #ef6868 !important;
    opacity: unset !important;
}

.add_note_btn {
    padding: 0px !important;
    margin: 0px 6px 0px 6px;
    font-size: 12px !important;
    border-color: blue !important;
    color: blue !important;
    background-color: white !important;
    width: 32px !important;
    height: 32px;
}

.add_note_btn:hover {
    border-color: blue !important;
    color: white !important;
    background-color: blue !important;
}

.add_warning_btn {
    padding: 0px !important;
    margin: 0px 6px 0px 0px;
    font-size: 12px !important;
    border-color: darkred !important;
    color: darkred !important;
    background-color: white !important;
    width: 32px !important;
    height: 32px;
}

.add_warning_btn:hover {
    border-color: darkred !important;
    color: white !important;
    background-color: darkred !important;
}

/* Added elements */

    /* Field */

.field_input_group {
    transition: opacity 1s ease-out;
}

.field_name_input {
    min-height: 32px !important;
    height: 32px !important;
    font-size: 14px !important;
    padding: 4px !important;
}

.field_button_input {
	padding: 0px 0px 0px 6px !important;
}

.check_add_field_icon {
	font-size: 1.2rem;
}

.check_add_field_btn {
    width: 32px !important;
    height: 32px;
    padding: 0px !important;
    border: 1px solid #ccc !important;
}

.check_add_field_btn:hover {
    border-color: #449d5f !important;
    background-color: #449d5f !important;
    color: white !important;
}

    /* Note */

.note_area {
    margin-top: 10px !important;
}

.note_col {
	padding: 0px !important;
}

.note_icon_col {
	padding: 0px 4px 0px 0px !important;
}

.note_icon {
    font-size: 1.2rem;
    color: #808080;
}

.note-form {
    width: 100% !important;
    min-height: 60px !important;
    background-color: lightyellow !important;
    font-size: 14px !important;
    color: #717171 !important;
    padding: 4px 0px 4px 10px !important;
}

.remove_note_col {
	padding: 0px 0px 0px 4px !important;
}

.remove_note_btn {
	width: 22px !important;
	height: 22px;
	padding: 0px !important;
	font-size: 0.8rem;
	color: #ef6868 !important;
	border-color: #ef6868 !important;
}

.remove_note_btn:hover {
    color: white !important;
    background-color: #ef6868 !important;
    border-color: #ef6868 !important;
}

    /* Warning */

.warning_area {
    margin-top: 10px !important;
}

.warning_col {
    padding: 0px !important;
}

.warning_icon_col {
    padding: 0px 4px 0px 0px !important;
}

.warning_icon {
    font-size: 1.2rem;
    color: #8c2020;
}

.warning-form {
    width: 100% !important;
    min-height: 60px !important;
    background-color: #f2808099 !important;
    font-size: 14px !important;
    color: #8c2020 !important;
    padding: 4px 0px 4px 10px !important;
}

.remove_warning_col {
	padding: 0px 0px 0px 4px !important;
}

.remove_warning_btn {
	width: 22px !important;
	height: 22px;
	padding: 0px !important;
	font-size: 0.8rem;
	color: #ef6868 !important;
	border-color: #ef6868 !important;
}

.remove_warning_btn:hover {
    color: white !important;
    background-color: #ef6868 !important;
    border-color: #ef6868 !important;
}

/* Keywords */

#field_group_dc\:subject {
	margin-top: 40px !important;
}

#field_group_empty_keywords {
    margin-top: 40px !important;
}

#subject-terms-container {
	display: inline-block;
}

.subject-term {
	display: inline-grid;
	margin: 0px 16px 30px 6px;
	text-align: end;
    transition: opacity 1s ease-out;
    justify-items: end;
}

.subject-term-button {
    width: 20px;
    height: 20px;
    margin-top: -14px !important;
    padding:0px !important;
    background-color: white !important;
}

.note-button {
    position: absolute;
    margin-right: 48px;
    border-color: blue !important;
    color: blue !important;
}

.note-button:hover {
    background-color: blue !important;
    border-color: blue !important;
    color: white !important;
}

.note-button:disabled {
    border-color: blue !important;
    color: blue !important;
    opacity: unset !important;
}

.hide-button {
    position: absolute;
    margin-right: 26px;
}

.hide-button:hover {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    color: white !important;
}

.remove-button {
    position: absolute;
    margin-right: 4px;
    border-color: #ef6868 !important;
    color: #ef6868 !important;
}

.remove-button:hover {
    color: white !important;
    background-color: #ef6868 !important;
    border-color: #ef6868 !important;
}

.st-icon.bi::before {
    vertical-align: 0em !important;
}

.add_keyword_btn {
    width: 36px !important;
    height: 36px !important;
    margin-left: 8px;
    background-color: #f2f2f2 !important;
	border-color: #f2f2f2 !important;
    color: #8a8a8a !important;
}

.add_keyword_btn:hover {
    background-color: #dfdfdf !important;
	border-color: #dfdfdf !important;
	color: #000 !important;
}

/* keyword button + input group */

.add_keyword_tooltip {
	display: inline-flex;
}

#keyword_input {
	margin: 0px 0px 0px 6px !important;
    margin-bottom: 0rem !important;
}

.input_group {
    max-width: 110px !important;
}

.div_hidden {
    display:none !important;
}

.keyword_input_field {
    max-width: 82px !important;
    min-height: 36px !important;
    padding: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border: 1px solid #ccc !important;
}

#tooltip_add_btn {
	height: 36px !important;
	width: 28px;
	padding: 0px !important;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #ccc !important;
}

#tooltip_add_btn:hover {
	background-color: #449d5f !important;
	border-color: #449d5f !important;
}

.check_add_keyword {
	padding: 0px !important;
}

.col.add_note {
	max-width: fit-content;
    padding-right: 0px !important;
}

.col.add_warning {
	max-width: fit-content;
}

.row.under_field_buttons {
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-control:disabled {
	color: #f1f1f1 !important;
	background-color: #f1f1f1 !important;
    pointer-events: none;
    filter:blur(4px);
}

.keyword_text {
	margin-bottom: 0px !important;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	border-radius: 4px;
	min-width: 72px;
	text-align: center;
	padding: 5px 10px;
    cursor: default;
}

.kw_hidden {
    color: #f1f1f1;
    filter: blur(4px);
    position: relative;
    z-index: -1;
    pointer-events: none;
}

/* add keyword note */

.add_note_tooltip {
	position: absolute;
	margin-top: -94px;
	display: grid;
	justify-items: center;
	align-items: center;
	margin-right: -32px;
    width: 180px;
}

.add_note_tooltip_hidden {
    display:none;
}

.add_note_text {
	resize: none;
	background-color: #ffffe0e8 !important;
	font-size: 12px !important;
	padding: 4px 4px 4px 8px !important;
	color: #444 !important;
	border: 1px solid #ccc !important;
}

.add_note_text:focus {
	border: 1px solid #ccc !important;
}

.triangle_icon {
	position: absolute;
	margin-top: 76px;
	color: #ccc;
}
  
.kw_note_icon {
    position: absolute;
    margin-top: 16px;
    margin-left: -16px;
    color: #6c757d;
}
  
.added_note_tooltip {
    --bs-tooltip-bg: #d3d3d3 !important;
    --bs-tooltip-color: rgb(26, 26, 26) !important;
    font-size: 12px !important;
    margin-top: 4px !important;
}

/* Right column: instructions, controls, questions */

    /* notifications */

#notification_submitted {
    position: fixed;
    top: 126px;
    right: 8px;
    width: fit-content;
    z-index: 1000;
  }

#all_submitted_notification {
    position: fixed;
    top: 10px;
    right: 8px;
    width: 440px;
    z-index: 1000;
  }
  
.notification_green {
    font-size: 14px;
    background-color: #449d5fe3;
    color: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(130, 130, 130, 0.1);
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.notification_red {
    font-size: 14px;
    background-color: #8b0000c0;
    color: rgb(255, 213, 213);
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(130, 130, 130, 0.1);
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

    /* instructions */

.instructions_column {
    padding-left: 28px !important;
}

.instructions_yellow {
    padding-right: 8px !important;
}

.instructions_yellow_col {
	height:fit-content;
	background-color: #fff5d6;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 20px;
}

.button_explainers {
    font-size: 12px !important;
    margin-bottom: 2px;
}

.instruction_buttons {
	width: fit-content !important;
    margin-bottom: 10px;
}

.instruction_button_text {
	padding: 0px !important;
}

.instruction_btn {
	width: 32px !important;
	height: 32px !important;
	padding: 0px !important;
    opacity: 1 !important;
}

.add_field_instruction_btn {
	width: 110px !important;
	height: 31px !important;
	font-size: 12px !important;
	background-color: #f2f2f2 !important;
	border-color: #f2f2f2 !important;
}

.hide_instruction_btn {
    color: #6c757d !important;
    border-color: #6c757d !important;
}

.show_instruction_btn {
    color: #6c757d !important;
    border-color: #6c757d !important;
}

.remove_instruction_btn {
    color: #ef6868 !important;
    border-color: #ef6868 !important;
}

.note_instruction_btn {
    color: blue !important;
    border-color: blue !important;
}

.warning_instruction_btn {
    color: darkred !important;
    border-color: darkred !important;
}

.add_keyword_instruction_btn {
    color: #8a8a8a !important;
    background-color: #f2f2f2 !important;
    border-color: #f2f2f2 !important;
}

    /* controls */

.controls {
    width: 100% !important;
    justify-content: center;
}

.control_buttons {
    max-width: fit-content !important;
}

.restore_btn {
	height: 38px;
	border-color: #ea9561 !important;
	background-color: #ea9561 !important;
	color: white !important;
    font-size: 14px !important;
}

.restore_btn:hover {
	box-shadow: 0 0 0 .25rem rgba(241, 93, 13, 0.15) !important;
}

.pagination_btns {
	justify-content: center;
	display: grid;
}

.page-link {
	color: #000 !important;
    font-size: 14px !important;
}

.active > .page-link {
	background-color: #6c757d !important;
    border-color: #6c757d !important;
	color: white !important;
}

.disabled > .page-link {
        background-color: #d3d3d3 !important;
}

.page-link:focus {
	box-shadow: none !important;
    background-color: none !important;
}

.submitted_icon {
    color: #449d5f;
    position: absolute;
    padding-left: 8px;
    font-size: 1rem;
    display: none;
}

.submit_btn_place {
    display: grid;
    justify-items: end;
    padding-right: 0px !important;
}

.submit_btn {
    height: 38px;
    border-color: #449d5f !important;
    background-color: #449d5f !important;
    color: white !important;
    font-size: 14px !important;
}

.submit_btn:hover {
    box-shadow: 0 0 0 .25rem rgba(68, 157, 95, 0.3) !important;
}

.disabled_submit_tooltip {
    --bs-tooltip-bg: #d3d3d3 !important;
    --bs-tooltip-color: rgb(26, 26, 26) !important;
    font-size: 12px !important;
    margin-top: -8px !important;
}

    /* questions */

.above_questions {
    padding-right: 8px !important;
}

.above_questions_col {
    background-color: #f2f2f2;
    padding: 12px;
    margin: 16px 0px 10px 0px !important;
    font-size: 14px;
    border-radius: 4px;
}

.questions_col {
    font-size: 14px;
    padding-right: 40px !important;
}

.q {
    margin-bottom: 30px;
}

.mandatory_q {
    color: red;
    font-size: 0.5rem;
    vertical-align: super;
}

.form-check-inline {
	display: inline-grid !important;
	margin-right: 0.6rem !important;
	justify-items: center !important;
	align-items: center !important;
}

.form-check-input[type="radio"] {
	border-radius: 4px !important;
    padding: 12px !important;
    margin-top: 0px !important;
}

.form-check-label {
	position: absolute !important;
	margin-left: -20px !important;
	font-size: 12px !important;
}

.form-check-input:checked {
	background-color: #919191 !important;
	border-color: #919191 !important;
}

.form-check-input:hover {
	background-color: #bababa !important;
	border-color: #bababa !important;
}

.form-check-input:checked[type="radio"] {
	background-image: none !important;
}

.form-check-input:focus {
	box-shadow: 0 0 0 .2rem rgba(168, 168, 168, 0.25) !important;
}